
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
}

.login-page, .auth-page {
    overflow: hidden;
}

.logo {
    display: block;
    margin: 0 auto;
}

.registration-form, .user-form, .editForms {
    padding: 30px 50px;
    border: 1px solid #e2e2e2;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.24);
    background-color: #ffffff;
}

label.error {
    color: red;
    padding-left: 17%;
}

.login label.error, .userlogin label.error, .register label.error {
    padding-left: 0%;
}

input:focus, button:focus {
    outline: none;
}

.add-more {
    background-color: green;
    color: #ffffff !important;
}

/* login page */
.banner-image {
    background-image: url(../images/banner-1.jpg);
    min-height: 800px;
    background-size: cover;
}
  
.form-container h3 {
    font-size: 50px;
    font-family: 'Cookie', cursive;
}

.login, .form-container.alert-message, .userlogin, .register {
    clear: both;
    width: 450px;
    margin: 0 auto;
}

.loginBtn, .registerBtn, .userloginBtn {
    background: #ef9f0c;
    color: #ffffff !important;
    padding: 6px;
    width: 150px;
    border: 0;
    border-radius: 50px;
    box-shadow: 0px 0px 3px 0px rgb(0 0 0);
    height: 40px;
    cursor: pointer;
}

.login-input, .register-input, .userlogin-input {
    padding: 10px 15px;
}

.footer {
    position: absolute;
    bottom: 20px;
    padding: 20px 0;
}

/*
    DEMO STYLE
*/

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #117a8b;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    background: #f8f9fa;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #ffffff;
    background: #0f5e6b;
}

#sidebar ul li.active>a {
    color: #fff;
    background: #0f5e6b;
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #0f5e6b;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

tr.dtrg-group.dtrg-start.dtrg-level-0 {
    display: none;
}

.cancel {
    border: 1px solid #dedede;
    background: #dedede;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    .banner-image {
        min-height: 288px;
    }
    .login-page {
        overflow: scroll;
    }
    .form-container img {
        margin: 0 auto !important;
    }
    .login, .form-container.alert-message {
        width: auto;
        margin: 0 auto;
        padding: 0 !important;
    }
    .form-container h3 {
        line-height: 40px;
        margin: 15px 0 30px;
    }
    .footer {
        position: relative;
        bottom: 0;
        padding: 20px 0px 0;
    }
    #content {
        padding: 0;
    }
    .registration-form, .user-form, .editForms {
        padding: 30px 30px;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        max-width: 950px !important;
    }
}